.friendList {
  display: block;
  width: 200px;
  margin-top: 80px;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
}
.item {
  display: flex;
  width: 200px;
  padding: 7px 20px;
  align-items: center;
  border: 1px solid rgb(143, 136, 136);
  border-radius: 3px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.item:not(:last-child) {
  margin-bottom: 8px;
}
.avatar {
  width: 30px;
  margin-left: 20px;
}
.name {
  margin-left: 20px;
}
.marker {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  composes: marker;
  background-color: green;
}
.offline {
  composes: marker;
  background-color: red;
}
